.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    z-index: 99999;
    opacity: 0.5;
}

.mask + .content{
    position: absolute;
    z-index: 99999999;
    top: 40px;
    left: 0;
    background: white;
    right: 0;
    margin: auto;
    width: 50%;
    min-height: 300px;
    border-radius: 5px;
    padding: 20px;
}
.m-20{
    margin-top:40px;
}
.m-10{
    margin-top:40px;
    padding: 10px;
}
.clr-div{
    width: 50px;
    height: 15px;
    border :1px solid;
    display: inline-block;
    margin-right: 3px;
    
}
.f-10{
    font-size: 20px;
}
select+input{
    width: 50px;
    margin-left: 12px;
}
.close-btn{
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 13px;
    top: 10px;
}
