.checkout-table p{
    display: inline-block;
    width: 47%;
    padding: 1%;
    font-size: 12px;;
}

.continue-shopping{
    margin-bottom : -30px;
}

.checkout-table img {
    max-width : 4%;
    max-height : 4%;

}